@page "/"
@using System.Security.Claims
@using FosterRoster.Data
@attribute [AllowAnonymous]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<FosterRosterDbContext> DbContextFactory

<PageTitle>Dashboard</PageTitle>
<div class="deck">
    @foreach (var feline in _felines)
    {
        <FelineCard @key="feline.Id" Feline="@feline" FelineChanged="OnFelineChanged" UserFelines="_userFelines"/>
    }
</div>

@code {
    private IEnumerable<FelineCardDto> _felines = [];
    private UserFelines _userFelines = UserFelines.None;

    /// <summary>
    ///     Load all active felines for the dashboard.
    /// </summary>
    private async Task LoadFelinesAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        // Load the current user's felines.
        if (state.User.IsInRole(Roles.Admin))
        {
            _userFelines = UserFelines.All;
        }
        else if (state.User.IsInRole(Roles.User))
        {
            _ = int.TryParse(state.User.FindFirstValue(ClaimTypes.NameIdentifier), out int userId);
            var uf = dbContext
                .Users
                .Where(u => u.Id == userId)
                .SelectMany(f => f.Fosterers);
                
            _userFelines = UserFelines.Some(await dbContext
                .Felines
                .IgnoreQueryFilters()
                // Cats without a fosterer can be managed by anyone?
                .Where(f => f.Fosterer == null || uf.Contains(f.Fosterer))
                .Select(f => f.Id)
                .ToHashSetAsync()
            );
        }
        else
        {
            _userFelines = UserFelines.None;
        }
        
        _felines = await dbContext
            .Felines
            .OrderBy(f => f.Name)
            .SelectToCardDto()
            .ToListAsync();
    }

    /// <summary>
    ///     When a new image is uploaded via the Feline Card, update the feline in the list.
    /// </summary>
    /// <param name="feline">Updated card</param>
    private void OnFelineChanged(FelineCardDto feline)
    {
        _felines = _felines.Select(f => f.Id == feline.Id ? feline : f).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadFelinesAsync();
        await base.OnInitializedAsync();
    }
}
