@implements IConfirmDelete

<AppConfirmModal>
    <p>If you click Yes, you will delete all data about the
        Fosterer "@Name". Cats linked to @Name will not be deleted,
        however the existing Fosterer value will be cleared.</p>
</AppConfirmModal>

@code {
    [Parameter] public string Name { get; set; } = string.Empty;
}