<RadzenMenu Responsive="true">
    <li class="rz-navigation-item">
        <div class="rz-navigation-item-wrapper">
            <h4 class="rz-px-2 rz-py-0 rz-ma-0">Foster Roster</h4>
        </div>
    </li>
    <RadzenMenuItem Path="/" Text="Dashboard" Match="NavLinkMatch.All"/>
    <RadzenMenuItem Path="/weights" Text="Weights"/>
    <RadzenMenuItem Path="/intake" Text="Intake"/>
    <RadzenMenuItem Text="Admin">
        <RadzenMenuItem Path="/felines" Text="Felines"/>
        <RadzenMenuItem Path="/fosterers" Text="Fosterers"/>
        <RadzenMenuItem Path="/sources" Text="Sources"/>
    </RadzenMenuItem>
    <RadzenMenuItem>
        <Template>
            <RadzenAppearanceToggle/>
        </Template>
    </RadzenMenuItem>
    <RadzenMenuItem>
        <Template>
            <GitHubLink Repository="https://github.com/melgish/foster-roster"/>
        </Template>
    </RadzenMenuItem>
</RadzenMenu>
