@implements IConfirmDelete

<AppConfirmModal>
    <p>If you click Yes, you will delete this weight for @Name.</p>
</AppConfirmModal>

@code {
    [Parameter] public string Name { get; set; } = string.Empty;
}
