@page "/intake"
@rendermode InteractiveWebAssembly
@inject TimeProvider TimeProvider;

<PageTitle>Intake</PageTitle>
@if (feline is null)
{
    <p>Loading...</p>
}
else
{
    <MudStack>
        <MudPaper Class="pa-2" Elevation="3">
            <FelineEditForm Feline="@feline" IsNew />
        </MudPaper>
    </MudStack>
}

@code {
    private Feline feline = null!;
    protected override void OnInitialized()
    {
        feline = new()
        {
            IntakeDate = DateOnly.FromDateTime(TimeProvider.GetLocalNow().DateTime),
            Category = Category.Kitten,
            Gender = Gender.Female,
            Thumbnail = null,
            Weaned = Weaned.Yes
        };
    }
}
