@implements IConfirmDelete

<AppConfirmModal>
    <p>If you click Yes, you will delete this the selected comment.</p>
</AppConfirmModal>

@code {
    [Parameter] public string Name { get; set; } = string.Empty;
}