@implements IConfirmDelete

<AppConfirmModal>
    <p>If you click Yes, you will delete all data about the 
        Task "@Name". Journal entries about this task will 
        not be deleted.</p>
</AppConfirmModal>

@code {
    [Parameter] public string Name { get; set; } = string.Empty;
}