@if (Weights is null)
{
  <p>Loading...</p>
}
else
{
  <MudTimeSeriesChart ChartSeries="@series"
                      Options="@Options"
                      Height="2in"
                      Width="100%" />
}

@code {
  private List<TimeSeriesChartSeries> series = new();

  private static ChartOptions Options = new()
  {
    YAxisLines = true,
    YAxisFormat = "F2",
    YAxisTicks = 10,
    MaxNumYAxisTicks = 12,
    XAxisLines = true,
    LineStrokeWidth = 2,
    YAxisRequireZeroPoint = false,
    ShowLegend = false,
  };

  [Parameter]
  public IEnumerable<Weight>? Weights { get; set; } = null!;

  [Parameter]
  public WeightUnit Units { get; set; } = WeightUnit.g;

  protected override void OnParametersSet()
  {
    series = new();
    if (Weights is not null && Weights.Any())
    {
      series.Add(new TimeSeriesChartSeries
        {
          Index = 0,
          IsVisible = true,
          Name = $"Weights for {Weights.First().Feline.Name}",
          Data = Weights
           .Select(x => new TimeSeriesChartSeries.TimeValue(x.DateTime.DateTime,
                x.Convert(Units))).ToList(),
          Type = TimeSeriesDiplayType.Line
        }
      );
    }
    StateHasChanged();
  }
}
