.deck {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.75rem;
    margin: 0 auto;
}

@media (max-width: 1920px) {
    .deck {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .deck {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .deck {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .deck {
        grid-template-columns: 1fr;
    }
}


.deck ::deep .mud-card-media {
    background-color: silver;
    border-radius: 1rem;
}
