@inherits LayoutComponentBase
<MudThemeProvider @rendermode="InteractiveWebAssembly" />
<MudPopoverProvider @rendermode="InteractiveWebAssembly" />
<MudDialogProvider @rendermode="InteractiveWebAssembly" />
<MudSnackbarProvider @rendermode="InteractiveWebAssembly" />
<MudLayout>
    <MudAppBar Color="Color.Primary" Dense Elevation="3">
        <MudStack Row AlignItems="AlignItems.Center">
            <MudText Typo="Typo.h6">Foster&nbsp;Roster</MudText>
            <MudNavLink Href="/">
                <MudText>Dashboard</MudText>
            </MudNavLink>
            <MudNavLink Href="/intake">
                <MudText>Intake</MudText>
            </MudNavLink>
            <MudNavLink Href="/weights">
                <MudText>Weights</MudText>
            </MudNavLink>
        </MudStack>
        <MudSpacer />
        <MudIconButton Color="Color.Inherit"
                        Href="https://github.com/melgish/foster-roster"
                        Icon="@Icons.Custom.Brands.GitHub"
                        Variant="Variant.Text"
                        Target="_blank" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium"
                      Class="pt-2">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href=""
       class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
