@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader Style="min-height: unset">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem"
                     JustifyContent="JustifyContent.Start" Style="padding:0.5rem 1rem">
            <RadzenText Text="Foster Roster" TextStyle="TextStyle.H4" Style="color: var(--rz-header-color)"/>
            <RadzenLink Match="NavLinkMatch.All" Path="/" Text="Dashboard"/>
            <RadzenLink Path="/intake" Text="Intake"/>
            <RadzenLink Path="/weights" Text="Weights"/>
            <RadzenLink Path="/fosterers" Text="Fosterers"/>
            <div style="flex: auto"></div>
            <RadzenLink Path="https://github.com/melgish/foster-roster" Target="_blank">Source</RadzenLink>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <Verison/>
    </RadzenFooter>
</RadzenLayout>
<RadzenComponents @rendermode="InteractiveWebAssembly"/>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href=""
       class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
