@inherits ComponentBase

<div class="app-thumbnail">
    <RadzenImage AlternateText="@(AlternateText ?? "Thumbnail")"
                 Path="@Path"
                 Style="width:256px;height:256px;background-color:var(--rz-primary-lighter);"/>
    @if (!Disabled)
    {
        <AppFileInput OnChange="OnChange" Rounded="true"/>
    }
</div>

@code {
    [Parameter] public string? AlternateText { get; set; }

    [Parameter] public bool Disabled { get; set; }

    [Parameter] public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }

    [Parameter] public string Path { get; set; } = string.Empty;
}