.weights-grid {
    /* Exists only to tag the CSS */
    display: contents;
}

.weights-grid ::deep .weights-column .rz-column-title {
    /* Right align the column title */
    justify-content: flex-end;
    padding-inline-end: 0.5rem;
}